<!DOCTYPE html>
<html>
<head>
  <title>Node.js Form Demo Application</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
</head>
<body>
  <div class="container">
    <h1>Node.js Form Demo Application</h1>
    <h3>Form submitted. Your params are:</h3>

    <ul>
      <% for(var name in query) { %>
      <li><%= name %>: <%= query[name] %></li>
      <% } %>
    </ul>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
